applications/*/log
applications/*/test.data/*
applications/*/train.data/*
applications/*/obj/*
applications/*/AxSrc/argOutpu/*
applications/*/AxSrc/QuantOutput/*
*/binNoOutIO/*
*/binRangeOut/*  
*/binShort/* 
fann.template/*
parrot.c
*nn.configs/*
*AxSrc/MargOutpu*
*fann.config/kmeans.nn*
*hadianeh.parroto.data*
*kmeans.json*
*.DS_Store
*.txt
*Range
*.out


